
/* Theming */

  /* Main */
html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--secondary-color);
}

a:visited, a:active {
  color: var(--tertiary-color);
}

  /* Header */
header {
  background-color: var(--tertiary-color);
}

.navbar-brand {
  color: var(--secondary-color);
}

.navbar-brand:hover {
  color: var(--accent-color);
}

  /* Cards */
.card {
  border-radius: var(--card-border-radius);
}

  /* Buttons */
.btn {
  border-radius: var(--button-border-radius);
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--tertiary-color);
}

#buttonStart {
  background-color: var(--button-start-background-color);
  color: var(--button-start-text-color);
}

#buttonStart:hover {
  background-color: var(--button-start-hover-background-color);
  color: var(--button-start-hover-text-color);
}

#buttonRestart {
  background-color: var(--button-restart-background-color);
  color: var(--button-restart-text-color);
}

#buttonRestart:hover {
  background-color: var(--button-restart-hover-background-color);
  color: var(--button-restart-hover-text-color);
}

#buttonKill {
  background-color: var(--button-kill-background-color);
  color: var(--button-kill-text-color);
}

#buttonKill:hover {
  background-color: var(--button-kill-hover-background-color);
  color: var(--button-kill-hover-text-color);
}

  /* Indicators */
.status-online {
  background-color: var(--status-online-color);
  box-shadow: var(--status-online-box-shadow);
}

.status-offline {
  background-color: var(--status-offline-color);
  box-shadow: var(--status-offline-box-shadow);
}

  /* Terminal */
.terminal {
  background-color: var(--terminal-bg-color);
  color: var(--terminal-txt-color);
}

span.terminal-warn {
  color: var(--terminal-wrn-color);
}

span.terminal-error {
  color: var(--terminal-err-color);
}


/* Layout */

*:focus {
  outline: none;
}

footer {
  padding-top: 50px;
  width: 100%;
  text-align: right;
}

.circle {
  height: 8px;
  width: 8px;
  transform: translateY(-3px);
  border-radius: 50%;
  display: inline-block;
}

.navbar-brand {
  font-size: 1.25rem;
  padding-left: 20px;
}

.nav-header {
  cursor: pointer;
}

nav#containerNav {
  padding-bottom: px;
}

span.terminal-status {
  text-align: right;
}

.terminal {
  height: 480px;
}

.terminal-logs, .terminal-input {
  font-size: 0.8em;
  font-family: monospace;
}

.terminal-logs {
  white-space: pre-wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.terminal-input-field {
  display: flex;
  width: 100%;
  padding: 0px 20px 0px 3px
}

.terminal-input-form {
  width: 100%;
  background-color: inherit;
  font-size: 1em;
  color: inherit;
  border-width: 0px;
}

.terminal-input-send {
  width: 13.17px;
  height: 13.17px;
  transform: scale(2.5);
  display: inline-block;
  transition: transform 200ms
}

.terminal-input-send:hover {
  transform: scale(3);
  cursor: pointer;
}

.terminal-input-send:active {
  transform: scale(2.6);
}

.terminal-input-send i, .terminal-input-send i:hover {
  transform: scale(0.5);
  background-image: url("icons/send-white.svg");
  height: 100%;
  display: inline-block;
  
}

.btn-ctrl {
  padding: 15px;
  text-align: center;
}

.btn {
  height: 45px;
  width: 100px;
}